QMainWindow
{
background: qlineargradient(spread:pad, x1:0.994, y1:1, x2:0.988382, y2:0.148, stop:0 rgba(72, 72, 72, 255), stop:0.853933 rgba(255, 255, 255, 255))
}
QRadioButton
{
background: silver; 
    color: blue;
    border-style: solid;
    border-radius: 6px;
 }
QRadioButton:hover, QRadioButton:checked 
{
background: green; 
    color: white;
    border-style: solid;
    border-radius: 6px;
 }
QLineEdit {
    min-height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: silver;
    border-radius: 6px;
    selection-background-color: darkblue;
    selection-color: white;
}
QPushButton
{
    background: silver;
    border-width: 1px;
    border-color: white;
    min-width: 10em;
    border-style: outset;
    border-radius: 8px;
    padding: 6px;
    font: bold 14px;
}
QPushButton:hover, QPushButton:pressed
{
    background: green;
    border-width: 1px;
    border-color: silver;
    min-width: 10em;
    border-style: inset;
    border-radius: 8px; 
    padding: 6px;
}
QListView 
{
    alternate-background-color: gray;
    background: white;
    show-decoration-selected: 1; /* make the selection span the entire width of the view */
}
QListView::item:alternate {
    background: #EEEEEE;
}

QListView::item:selected {
    border: 1px solid #6a6ea9;
}

QListView::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #ABAFE5, stop: 1 #8588B2);
}

QListView::item:selected:active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #6a6ea9, stop: 1 #888dd9);
}

QListView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}
QMainWindow{
    background: white;
}
QStatusBar {
    background: silver;
}

QStatusBar::item {
    border: 1px solid red;
    border-radius: 3px;
}
QStatusBar QLabel {
    border: 3px solid white;
}
QTextBrowser
{
    border:3px;
    border-style: solod;
    border-radius:7px;
    border-color: silver;
    background-color: white;
    color:blue;
}
QMenuBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                         stop:0 lightgray, stop:1 darkgray);
    alignment: center;
}

QMenuBar::item {
    spacing: 4px; /* spacing between menu bar items */
    padding: 1px 4px;
    background: transparent;
    border-radius: 4px;
    alignment:  center;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #a8a8a8;
}

QMenuBar::item:pressed {
    background: #888888;
}
